<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Book Management System</title>
    <link rel="stylesheet" href="{% static 'hnav.css' %}">
</head>
<body>



<ul>
    <li><a class="active" href="/">Home</a></li>
    <li><a href="{% url 'add_book' %}">Add_book</a></li>
    <li><a href="#">Contacts</a></li>
</ul>




<div class="content">


   {% block content %}

    {%  endblock %}

</div>




</body>
</html>